/* QuizApp.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #e0e0e0, #f1f1f3);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden
  }
  
  .quiz-container {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
  }
  
  .quiz-container h2 {
    margin-bottom: 20px;
  }
  
  .quiz-container label {
    font-size: 16px;
  }
  
  .quiz-container select {
    margin-left: 10px;
    padding: 8px 10px;
    border-radius: 8px;
    border: 1px solid #aaa;
    font-size: 14px;
  }
  
  .quiz-container button {
    background-color: #4e54c8;
    color: #fff;
    border: none;
    padding: 10px 18px;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s;
  }
  
  .quiz-container button:hover {
    background-color: #2125f3;
  }
  
  .quiz-container .option-button {
    display: block;
    margin: 8px auto;
    padding: 10px 14px;
    width: 100%;
    background-color: #2672e4;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
  }
  .navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .navigation-buttons button {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #3b82f6;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .navigation-buttons button:hover {
    background-color: #2563eb;
  }
  
  .navigation-buttons button:disabled {
    background-color: #a5b4fc;
    cursor: not-allowed;
  }
  